.slogan {
    font-size: 32px;
    color: #2b7fa8;
    font-style: italic;
    font-family: "brushscript";
}

.imageMasked {
    @apply object-cover lg:mb-[0px] lg:mr-[-35px] lg:h-[380px] lg:w-full;

    mask-image: linear-gradient(black 80%, transparent);
}
